body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-part img{
   width: 80%;
}
.middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    border-radius: 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web-development{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan) ;
    border-image-slice: 1;
    padding: 3px;
}
#developer{
    border-left:7px solid ;
    border-image: linear-gradient(red,blue);
    border-image-slice:1;
    padding: 3px;
}
footer p{
    text-align: center;
}