body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
span{
    color:orange;
}
.start{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}